*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.wrapper{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image:url(./img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center center;
}
.player{
  background-color: #EFF3F5;
  border-radius: 30px;
  max-width: 380px;
  width: 100%;
  padding: 25px;
}
.title{
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #22B0FF;
  text-align: center;
  font-weight: bold;
}
.cover{
  display: flex;
  justify-content: center;
  margin: 25px 0;
}

.song{
  font-weight: bold;
  font-style: normal;
  font-size: 24px;
  line-height: 28px;
  color: #22B0FF;
  text-align: center;
}
.progress_container{
  background-color: #E4E9Ed;
  border-radius: 5px;
  width: 100%;
  height: 10px;
  margin-top: 63px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.progress{
  height: 6px;

  border-radius: 5px;
  background-color: #22B0FF;
}
.buttons{
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 184px;
  width: 100%;
  margin: 0 auto;
  margin-top: 45px;
}
.btn{
  cursor: pointer;
}
